default:
  tags:
  - gitlab-runner-1

stages:
  - build
  - docker_image_build
  - deployment_to_gcp_cloud_run

build_job:
  stage: build
  before_script:
    - export JAVA_HOME="/usr/lib/jvm/java-17-openjdk-17.0.17.0.10-1.el8.x86_64"
    - export PATH="$PATH:$JAVA_HOME/bin:/opt/apache-maven/bin:/opt/node-v16.0.0/bin:/usr/local/bin"
  script:
    - echo "Building artifact..."
    - mvn clean install
  artifacts:
    paths:
      - target/*.jar

docker_image:
  stage: docker_image_build
  before_script:
    - export JAVA_HOME="/usr/lib/jvm/java-17-openjdk-17.0.17.0.10-1.el8.x86_64"
    - export PATH="$PATH:$JAVA_HOME/bin:/opt/apache-maven/bin:/opt/node-v16.0.0/bin:/usr/local/bin"
    - mvn clean install
  script:
    - docker build -t $REPO_NAME/$IMAGE_NAME:$TAG_NUMBER -f Dockerfile-Project-1 .
    - docker push $REPO_NAME/$IMAGE_NAME:$TAG_NUMBER
  dependencies:
    - build_job

deployment_to_gcp_cloud_run:
  stage: deployment_to_gcp_cloud_run
  script:
    - git clone https://dexter:$GITLAB_TOKEN@gitlab.singhritesh85.com/dexter/terraform-docker-cloudrun-the-serverless-way.git
    - cd terraform-docker-cloudrun-the-serverless-way/main
    - terraform init
    - terraform plan -var REPO_NAME=$REPO_NAME -var IMAGE_NAME=$IMAGE_NAME -var TAG_NUMBER=$TAG_NUMBER -var MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD -var MYSQL_DATABASE=$MYSQL_DATABASE
    - terraform apply -auto-approve -var REPO_NAME=$REPO_NAME -var IMAGE_NAME=$IMAGE_NAME -var TAG_NUMBER=$TAG_NUMBER -var MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD -var MYSQL_DATABASE=$MYSQL_DATABASE
  dependencies:
    - docker_image

#  only:
#    - main # Or your desired branch 
